.form{
     width: max-content;
     text-align: center;
     background-color: rgb(60, 68, 68);
     padding: 2rem;
     color:aliceblue;
}

.form_field {
     width:100%;
     display: flex;
     /* justify-content: space-around; */
     align-items: center;
     margin-bottom: 1rem;
}
button{
     background-color: red;
}